.env/
.venv
*.zip
*.png
*.csv
*dataset
punkt
finetuned_bert_dupes/
checkpoint*
my_custom_bert_model
Data
data*
*data*/
*tiles*
wiki.en.small.vec
wiki.ro.small.vec
ckpt.pt
.obsidian/
/Research
IOAI_prep/ioai/2026/problem_3/content